body{
    margin: 0;
}
h1{
    background: lightblue;
    padding: 25px;
    margin: auto;
    text-align: center;
    width: 100vw;
}
input{
    height: 20px;
    width: 80vw;
    margin: 50px 50px 50px 50px;
    padding: 10px;
    text-align: center;
}
#input{
    text-align: center;
}